<div class="errormsg"></div>

<h2><%= title %></h2>

<form id="form">
	<!-- <input type="submit" id="submit" value="Create Poll"> -->
	<div class="btn submit">Create Poll</div>
	<div class="btn add_response">Add Answer</div>
	<div class="inputbox">
		<label for="poll_question">Question</label>
		<input id="poll_question" name="poll[question]">
		<i class="icon-close return"></i>
	</div>
</form>