<div class="errormsg"></div>

<h2><%= title %></h2>

<form>
	<input type="submit" id="submit" value="Create Poll">
	<div class="btn add_response">Add Answer</div>
	<br>
	<label for="poll_question">Question</label>
	<input id="poll_question" name="poll[question]">
</form>