<div class="errormsg"></div>

<h2>Log In</h2>

<form id="form">
	<label for="user_username">Username</label>
	<input type="text" id="user_username" name="user[username]">
	<br>
	<label for="user_password">Password</label>
	<input type="password" id="user_password" name="user[password]">
	<br>
	<!-- <input type="submit" id="submit" value="Log In"> -->
	<div class="btn submit">Log In</div>
</form>