<!-- <a href="/" class="logo">Tp</a> -->
<div class="imgcontainer">
	<!-- <a href="/"> -->
		<img src="/images/TPs.png">
	<!-- </a> -->
</div>
<ul>
	<li><a class="intro">INTRODUCTION</a></li>
	<li><a class="sample">SAMPLE POLLS</a></li>
	<li><a href="http://soonjae.info">ABOUT JAY</a></li>
</ul>