<script type="application/json" id="bootstrapped_user">
	{ "user": <%= current_user.to_json.html_safe %> }
</script>
<script type="application/json" id="bootstrapped_key">
	{ "key": <%= Pusher.key %> }
</script>
<div id="wrapper">
<div id="sidebar">
	<a href="/" class="logo">Tp</a>
	<ul>
		<li><a>INTRODUCTION</a></li>
		<li><a>SAMPLE POLLS</a></li>
		<li><a>ABOUT JAY</a></li>
	</ul>
</div>
<div id="header"></div>
<div id="errors"></div>
<div id="content"></div>
<div id="footer">
	<span class="footspan">Jay Kwon | App Academy Sept 2013</span>
</div>
</div>