/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to login a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to login a new file per style scope.
 *
 *= require_tree .
 */

html,body {
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	background: white;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	color: #9099a3;
}

h1 {
	margin-top: 0;
}

h2 {
	margin-top: 0;
	letter-spacing: 1px;
	font-weight: 100;
}

h3 {
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: 200;
}

h3 a{
	text-decoration: none;
}

.favs {
	margin-top: 50px;
	color: #ff6060;
}

.right {
	float: right;
	display: inline-block;
}

.error {
	color: #ff4949;
	font-weight: 200;
}

#submit {
	background: white;
	margin-top: 20px;
	width: 150px;
	height: 40px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border: 1px solid #4aa3ff;
	border-radius: 10px;
	transition: background 0.1s linear;
	text-decoration: none;
	color: #4aa3ff;
	font-size: 1.2em;
	transition: color 0.1s linear;
	letter-spacing: 1px;
	line-height: 20px;
}

#submit:hover {
	background: #4aa3ff;
	color: white;
}

.btn {
	background: white;
	margin-top: 20px;
	width: 150px;
	height: 20px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border: 1px solid #4aa3ff;
	border-radius: 10px;
	transition: background 0.1s linear;
	text-decoration: none;
	color: #4aa3ff;
	font-size: 1.2em;
	transition: color 0.1s linear;
	letter-spacing: 1px;
	line-height: 20px;
	font-weight: 100;
	display: inline-block;
}

.btn:hover {
	background: #4aa3ff;
	color: white;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#sidebar {
	display: block;
	position: fixed;
	height: 100%;
	width: 350px;
	color: white;
	background: #4aa3ff;
	text-decoration: none;
	font-weight: 300;
	z-index: 1;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	display: block;
	height: 80px;
	text-decoration: none;
	text-align: center;
}

#sidebar ul li a {
	font-size: 1.5em;
	font-weight: 100;
	line-height: 80px;
	letter-spacing: 1px;
	height: 100%;
	width: 100%;
	color: white;
	text-decoration: none;
	display: block;
	transition: color 0.3s linear;
	transition: background 0.3s linear;
	margin: 0;
}

#sidebar ul li a:hover {
	color: #4aa3ff;
	background: white;
}

#header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	color: #9099a3;
	border-bottom: 1px solid #e2e2e2;
}

#header h1 {
	margin-left: 400px;
	font-size: 1.5em;
	font-weight: 100;
	letter-spacing: 2px;
	float: left;
}

#header .button {
	float: right;
	padding: 0px 20px 0px 20px;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	transition: background 0.3s linear;
	transition: color 0.1s linear;
}

#header .button:hover {
	background: #e2e2e2;
	color: #fff;
}

#content {
	padding:30px 0px 100px 0px;
	margin:0px 50px 0px 400px;
}

#errors {
	font-weight: 200;
	letter-spacing: 1px;
	color: red;
}

#form {
	font-weight: 200;
	font-size: 1em;
}

#user_username, #user_password {
	width: 150px;
	font-size: 1em;
}
